h1{
    font-family: "Arial";
    text-align: center;
    margin: 2rem auto;

}

input{
    width: 55%;
    height: 3rem;
    margin: 0 auto;
    display: block;
    font-size: 1.25rem;
}

.add-button{
    width: 3.75rem;
    height: 3.15rem;
    margin: -3.25rem 78%;
    display: block;
    color: #FFFFFF;
    font-size: 1.4rem;
    background-color: #088CBA;
    border: 1px solid #FFFFFF;
}

.finished-button{
    width: 6rem;
    height: 2.75rem;
<<<<<<< HEAD
    margin: 0%;
    background-color: #4CB04F;
=======
    background-color: #4CB04F;
    margin: -3.8rem 132.5rem;
>>>>>>> 662b2fcda25f844276739c5857f28095a9696a8b
    display: block;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
}

.delete-button{
    width: 6rem;
    height: 2.75rem;
<<<<<<< HEAD
    margin: 0 0.75%;
    background-color: #F34336;
=======
    background-color: #F34336;
    margin: 1rem 139rem;
>>>>>>> 662b2fcda25f844276739c5857f28095a9696a8b
    display: block;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
}

.container{
<<<<<<< HEAD
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem auto;
    width: 100%;
    height: 4.5rem;
    border: 1px solid #E0E0E0;
=======
    margin: 1rem auto;
    width: 146rem;
    height: 4.5rem;
    display: block;
    border: 1px solid #E0E0E0;
    text-align: center;
>>>>>>> 662b2fcda25f844276739c5857f28095a9696a8b
    background-color: #F7F7F7;
}

p{
    font-family: "Arial";
    font-size: 1.5rem;
<<<<<<< HEAD
    margin: 0 auto;
=======
>>>>>>> 662b2fcda25f844276739c5857f28095a9696a8b
}

.list-items{
    margin: 5.5rem auto;
}